<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    

    <!-- x86 or x64 -->
    <!-- You can also change it from the top-level menu Test > Test Settings > Processor Architecture for AnyCPU Projects -->
    <TargetPlatform>x86</TargetPlatform>

    

    <!-- Path to Test Adapters -->
    <TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>    
    <TestSessionTimeout>10000</TestSessionTimeout>
  </RunConfiguration>

	<MSTest>
		<Parallelize>
			<Workers>4</Workers>
			<Scope>MethodLevel</Scope>
		</Parallelize>		
	</MSTest>

</RunSettings>