<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Default Credentials-->
    <add key="username" value=""/>
    <add key="password" value=""/>
    <add key="appurl" value=""/>

    <!--Paths-->
    <add key="chromeDrivePath" value="C:\\TestAutomation\\MRO.AutomationTest2.Solution\\Libraries"/>
   
    <!--Links-->
    <add key="reqiestStatusButton_Id" value="mrocontent_cmdViewRequest"
    <add key="scanButton_Id" value="mrocontent_cmdScan_"

   

  </appSettings>
</configuration>
